<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breathing_book">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Breathing_Book">
        <activity
            android:name=".augment_mainActivity"
            android:exported="true" />
        <activity
            android:name=".RAccuracyActivity"
            android:exported="false" />
        <activity
            android:name=".UsageProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressActivity"
            android:exported="false" />
        <activity android:name=".ListenList" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_results" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q10" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q9" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q8" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q7" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q6" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q5" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q4" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q3" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q2" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level3Questions.age11L3_Q1" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_results" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q10" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q9" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q8" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q7" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q6" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q5" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q4" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q3" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q2" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level2Questions.age11L2_Q1" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_results" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q10" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q9" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q8" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q7" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q6" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q5" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q4" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q3" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q2" />
        <activity android:name=".age11_to_12.age11Levels.age11_Level1Questions.age11L1_Q1" />
        <activity android:name=".age11_to_12.age11Levels.age11Level3" />
        <activity android:name=".age11_to_12.age11Levels.age11Level2" />
        <activity android:name=".age11_to_12.age11Levels.age11Level1" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_results" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q10" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q9" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q8" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q7" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q6" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q5" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q4" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q3" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q2" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3Questions.age10L3_Q1" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_results" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q10" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q9" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q8" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q7" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q6" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q5" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q4" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q3" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q2" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2Questions.age10L2_Q1" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_results" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q10" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q9" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q8" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q7" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q6" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q5" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q4" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q3" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q2" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1Questions.age10L1_Q1" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level3" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level2" />
        <activity android:name=".age9to_10.age10_Level1.age10_Level1" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_results" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q10" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q9" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q8" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q7" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q6" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q5" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q4" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q3" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q2" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3Questions.age7L3_Q1" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_results" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q10" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q9" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q8" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q7" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q6" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q5" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q4" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q3" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q2" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2Questions.age7L2_Q1" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_results" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q10" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q9" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q8" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q7" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q6" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q5" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q4" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q3" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q2" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1Questions.age7L1_Q1" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level3" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level2" />
        <activity android:name=".age7_to_8.age7_Level1.age7_Level1" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_result" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q10" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q9" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q8" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q7" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q6" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q5" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q4" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q3" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q2" />
        <activity android:name=".age5_to_6.age5_Level1.age5Level3Questions.age5L3_Q1" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_result" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q10" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q9" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q8" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q7" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q6" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q5" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q4" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q3" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L_Q2" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2Questions.age5L2_Q1" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5_results" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q10" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q9" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q8" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q7" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q6" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q5" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q4" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q3" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q2" />
        <activity android:name=".age5_to_6.age5_Level1.age5Questions.age5Q1" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level3" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level2" />
        <activity android:name=".age5_to_6.age5_Level1.age5_Level1" />
        <activity android:name=".age11_to_12.age11_Levels" />
        <activity android:name=".age9to_10.age9_Levels" />
        <activity android:name=".age7_to_8.age7_Levels" />
        <activity android:name=".age5_to_6.age5_Levels" />
        <activity android:name=".SelectAge" />
        <activity android:name=".ReadList" />
        <activity android:name=".Navigation" />
        <activity android:name=".Read_Story" />
        <activity android:name=".Listen_Story" />
        <activity android:name=".BarChartActivity" />
        <activity android:name=".AugmentedActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>